<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>嘉威智造</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/morph/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/_vendor/bootstrap-icons/font/bootstrap-icons.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/_vendor/prismjs/themes/prism-okaidia.css}"/>
    <link rel="stylesheet" th:href="@{/css/_assets/css/custom.min.css}"/>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KGDJBEFF3W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-KGDJBEFF3W');
    </script>
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-expand-lg bg-light fixed-top" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!--卡片-->
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="card justify-content-center">
    </div>
</div>
</div>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="card justify-content-center">
    </div>
</div>
</div>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="card justify-content-center">
    </div>
</div>
</div>
<link rel="stylesheet" th:href="@{/css/card.css}"/>


<!--分页栏-->
<div>
    <ul class="pagination pagination-lg fixed-bottom">
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</div>
<script th:src="@{/css/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/css/_vendor/prismjs/prism.js}" data-manual></script>
<script th:src="@{/css/_assets/js/custom.js}"></script>
</body>
</html>
